<?xml version="1.0"?>
<model>
  <name>scissor</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your_email@email.com</email>
  </author>

  <description>
    Dynamic scissor model with mesh visual and stable primitive collision.
  </description>
</model>